.side_menu .nav li a {
  padding: 10px;
  display: inline-block;
  border: 1px solid #ddd;
  width: 100%;
  margin: 3px;
}

.side_menu a.active {
  background: #ddd;
}

.dataTables_wrapper .row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
